<?xml version="1.0" encoding="utf-8"?>
<manifest package="evensel.pixelclearseo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ActSplash"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ActDomains"
            android:label="DETAILS"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:label="ENTER DETAILS"
            android:name=".ActDomain"
            android:noHistory="true"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActDomain" />

        </activity>

        <activity
            android:name=".ActRank"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActRank" />

        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>